* {
  box-sizing: border-box;
}

.login {
  border: 1px gray solid;
  max-width: 500px;
  margin: 100px auto 0px auto;
  padding: 20px 0px;
  font-size: 20px;
  
}

.form-row {
  margin-bottom: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.form-row input{
  width: 100%;
  height: 60px;
  font-size: 1.1em;
  padding: 5px 10px;
}

.login__form__submit {
  height: 70px;
  width: 100%;
  font-size: 1.2em;
  cursor: pointer;
  color: rgb(77, 157, 204);
}

.login__form__submit {
  transition: 0.3s;
}

.login__form__submit:hover {
  background: rgb(77, 157, 204);
  color: white;
}

.login__form__text {
  text-align: center;
}



@media (max-width: 768px) {
  .login {
    max-width: 90%;
  }
}